body {
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
